body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
}

.App {
  text-align: center;
  margin-top: 50px;
}
/* index.css or App.css */

body.light {
  background-color: #fff;
  color: #222;
}

body.dark {
  background-color: #121212;
  color: #eee;
}

/* You can also style buttons, cards etc. based on theme */
